html
	body
		strong(id="status") #{status}
		br
		br
		span Send a note 
		form(action="/send", method="post")
			//#noteSender
			textarea(id="note", name="note", rows=3)
			input(type="submit", value="Send")
		br
		span Send a photo
		form(action="/", method="post")
			//#fileSender
			input(type="file", name="photo", accept="image/*")
			input(type="submit", value="Send")

