doctype html
html
	head
		link(rel="stylesheet", type="text/css", href="/css/style.css")
	body
		strong(id="status") #{status}
		br
		br
		span Send a simple note 
		form(action="/send", method="post")
			//#noteSender
			textarea(id="note", name="note", rows=3)
			input(type="submit", value="Send")
		br
		span Send a photo
		form(action="/send", enctype="multipart/form-data", method="post")
			#photoBlock
				textarea(id="notePhoto", name="notePhoto")
				input(type="file", name="photo", accept="image/*")
				input(type="submit", value="Send")

